<main class="container mx-auto lg:max-w-full">
  <.flash_group flash={@flash} />
  <div class="mx-auto flex flex-row">
    <div class="w-full">
      <%= @inner_content %>
    </div>
  </div>
</main>
