<%= if Accounts.user_has_permission(@active_company, ["billing_manager"]) do %>
  <%= live_react_component(
      "Components.BillingPage",
      [
        props: %{
          company_id: @active_company.id,
          credit_packages: @credit_packages,
          transactions: @transactions,
          credits_balance: @credits_balance
        }
      ],
      id: "billing-page-#{@active_company.id}"
    ) %>
<% end %>
