<%= if Accounts.user_has_permission(@active_company, ["workflow_api_integrator"]) do %>
  <%= live_react_component(
    "Components.AuthTokenPage",
    [
      props: %{
        company_auth_token: @company_auth_token
      }
    ],
    id: "auth-token-page"
  ) %>
<% end %>
