@import 'swiper/swiper.css';
@import 'swiper/modules/pagination.css';
@import 'swiper/modules/navigation.css';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@import "reactflow/dist/style.css";

.markdown h1 {
    @apply text-3xl font-bold mb-4;
}

.markdown-hide-title h1 {
    @apply hidden;
}

.markdown h2 {
    @apply text-2xl font-bold mb-3;
}

.markdown h3 {
    @apply text-xl font-bold mb-2;
}

.markdown p {
    @apply mb-4;
}

.markdown hr {
    @apply my-6 border-gray-300;
}

.markdown ul {
    @apply list-disc ml-6 mb-4;
}

.markdown li {
    @apply mb-2;
}

.markdown a {
    @apply text-blue-600 hover:underline;
}

.markdown blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic my-4;
}

.markdown code {
    @apply bg-gray-100 rounded px-1 py-0.5;
}