<div>
  <%= live_react_component(
    "Components.WorkflowTemplatePage",
    [
      props: %{
        workflow_template: @workflow_template,
        providers_by_slug: @providers_by_slug,
        connected_providers_by_slug: @connected_providers_by_slug,
        providers_by_slug: @providers_by_slug,
        categories: @categories,
        is_owner: @is_owner
      }
    ],
    id: "workflow-template-page"
  ) %>
</div>
